* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li {
  position: relative;
  cursor: pointer;
}

header ul li:hover::after {
  content: "Here is everything I have built";
  position: absolute;
  bottom: 200%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

header ul li:hover::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 40%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 9;
}
