---
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
import Content from "../components/Content.astro"
---

<Layout
  title="Frontend projects of roadmap"
  description="Web en donde recopilo todos los ejercicios de frontend solicitador por la web de roadmap.sh"
>
  <main class="min-h-screen flex flex-col gap-y-20 relative">
    <Main />
    <div class="px-8">
      <Content />
    </div>
  </main>
</Layout>

<style>
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    background-color: #020617;
    color: white;
  }
</style>
